html
	font-size: 16px

body
	font-family: $contentFont	
	margin: 0
	padding: 0

section
	max-width: 1440px
	margin: 0 auto
	padding: 0 20px

.section-title
	font-size: $fsSectionTitle
	color: #ad6c12
	text-transform: uppercase
	font-weight: 600
	margin: 0
	.beauty-title
		color: #2c3a42 						//этот цвет используется только здесь - нету смысла заводить переменную
		font-size: $fsSectionBeautyTitle
		font-family: $titleFont
		display: block
		text-transform: none
		font-weight: 400