@media (max-width: 1125px)
	header .wrapper
		flex-direction: column
	
	.cta .wrapper
		flex-direction: column
		.large-6
			text-align: center
		.image
			margin-left: 0
	.made-easy
		background: rgba(#fff, 0.8)
	
@media (max-width: 1119px)
	.cards .cards-item
		flex-direction: column

@media (max-width: 856px)
	.menu .menu-wrapper
		justify-content: center

@media (max-width: 768px)
	html
		font-size: 14px

	header nav
		display: none

	.new-tastes .wrapper
		flex-direction: column
		.card
			text-align: center
			margin-bottom: 20px

@media (max-width: 375px)
	html
		font-size: 10px

	header
		top: 23px