=flex-justify
	display: flex
	justify-content: space-between
	align-items: center

=flex-centered
	display: flex
	justify-content: center
	align-items: center

=wrapper($max-width: 1440px)
	max-width: $max-width
	width: 100%
	margin: 0 auto

=headerFontStyles
	font-size: $fsHeader
	text-transform: uppercase
	color: rgba(#fff, 0.78)
	font-weight: bold

=opacityBackground	
	background: rgba(#fff, 0.8)
	position: relative
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: block
		background: $colorContent
		z-index: -1