$titleFont: 'Cookie', cursive
$contentFont: 'Raleway', sans-serif

$fsHeader: 35 /16*1rem
$fsSectionBeautyTitle: 77 /16*1rem
$fsSectionTitle: 48 /16*1rem
$fsMainTitle: 77 /16*1rem
$fsBeautyTitle: 104 /16*1rem
