@import setup/_

header
	position: absolute
	width: 100%
	top: 54px
	.wrapper
		+wrapper(1085px)
		+flex-justify
		+headerFontStyles
	
	nav ul
		display: flex
		list-style: none
		margin: 0
		padding: 0
		margin-right: -13px
	
	a
		+headerFontStyles
		text-decoration: none
		padding: 11.15px
		transition: color 0.3s ease-in-out
		&:hover
			color: darken(#fff, 0.35)
	.logo a
		padding: 0

.hero
	background-image: url(../img/hero-bg.png)
	background-size: cover
	background-position: center
	padding: 308/16*1rem 20/16*1rem 220/16*1rem
	+flex-centered

	.main-title
		+wrapper(758px)
		background-color: rgba(#fff, 0.82)
		text-align: center
		padding: 121/16*1rem 0 118/16*1rem
		.section-title
			font-size: $fsMainTitle
			line-height: 79px
			margin-bottom: 1rem
			.beauty-title
				font-size: $fsBeautyTitle	
				color: #2c3a42
	
	&-button
		display: inline-block
		text-decoration: none
		font-size: $fsHeroButton
		font-weight: 600
		text-transform: uppercase
		color: #26363a
		background: #ffffff
		padding: 7px 24px
		transition: background, color 0.3s ease-in-out
		&:hover
			background: #26363a
			color: #fff

.cta
	background-color: $colorContent
	padding: 70/16*1rem 20/16*1rem 62/16*1rem 
	.wrapper
		+wrapper(1242px)
		+flex-justify
		justify-content: start
	.large-6
		max-width: 553px
		color: #fff
	.image
		margin-left: 83px
		max-width: 527px
		img
			width: 100%
			height: auto

.new-tastes
	padding: 96/16*1rem 20/16*1rem 85/16*1rem
	+opacityBackground
	.wrapper
		+wrapper(1077px)
		+flex-justify

	.card
		max-width: 298px
		color: $colorContent
		&-circle
			display: inline-block
			width: 31px
			height: 31px
			border-radius: 50%
			background: $colorContent
			margin-right: 3px
		&-title
			font-size: $fsContent
			line-height: 33.24 /19*1em
			margin: 16/19*1em 0 21/19*1em
		&-content
			font-size: $fsSmallContent
			line-height: 24.93 /17*1em

.cards				//код выглядит сумбурно, но работает прикольно
	padding: 88/16*1rem 20/16*1rem
	background-image: url(../img/cards-bg.png)
	background-size: cover
	background-position: top center
	.wrapper
		+wrapper(1080px)
		background: rgba(#fff, 0.82)
		padding-top: 58px
	.section-title
		text-align: center
	&-item
		display: flex
	.reverse
		flex-direction: row-reverse
	.card-container
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		margin-top: 45px
		img
			width: 100%
			height: 100%
		.card
			max-width: 270px - 100px
			height: 275 /16*1rem
			+flex-centered
			flex-direction: column
			text-align: center
			padding: 0 50px
			color: $colorSecondaryContent
			&-image
				max-width: 270px
				padding: 0
			&-title
				font-size: $fsCardTitle
				text-transform: uppercase
				margin: 0
			&-content
				font-size: $fsSmallContent
			&-price
				font-size: 1rem
				font-weight: 700
				text-transform: uppercase
	
.made-easy
	+opacityBackground
	padding: 55/16*1rem 20/16*1rem 62/16*1rem
	text-align: center
	color: $colorContent
	background: url("../img/made-ease-bg-left.png") left center no-repeat, url("../img/made-ease-bg-right.png") right center no-repeat, rgba(#fff, 0.8)
	background-size: contain

	.wrapper
		+wrapper(705px)
	.circles
		+flex-justify
		+wrapper(80px)
		margin-top: 38/16*1rem
		margin-bottom: 43/16*1rem
		.circle
			width: 23px
			height: 23px
			border-radius: 50%
			background-color: $colorContent
	.nav
		list-style: none
		margin: 0
		padding: 0
		+flex-centered
		a
			text-decoration: none
			color: inherit
			font-weight: 700
			font-size: $fsSmallContent
			padding: 26 /17*1em

.menu
	background: url("../img/menu-bg.png") top center
	background-size: cover
	padding-top: 238/16*1rem
	.container
		padding: 45/16*1rem 20/16*1rem 40/16*1rem
		margin: 0 -20/16*1rem
		background-color: rgba(#fff, 0.8)
	.section-title
		text-align: center
	&-wrapper
		+wrapper(1236px)
		+flex-justify
		flex-wrap: wrap
	&-item
		max-width: 472px
		display: flex
		align-items: center
		color: $colorSecondaryContent
		margin-bottom: 30px
	&-image
		width: 81px
		height: 81px
		border-radius: 50%
		background-color: #fff
		+flex-centered
		align-self: flex-end
		flex-shrink: 0
		margin-right: 8px
	&-title
		font-size: $fsCardTitle
		text-transform: uppercase
		margin: 28px 0 0
		letter-spacing: 1px
	&-content
		font-size: $fsSmallContent
		margin: 10px 0 0
	&-price
		font-weight: 700

.empty-1
	background: url(../img/empty-bg1.png) top center
	background-size: cover
	height: 889/16*1rem
.empty-2
	background: url(../img/empty-bg2.png) top center
	background-size: cover
	height: 864/16*1rem

.contact-form
	background-color: $colorContent
	color: #ffffff
	padding: 33/16*1rem 20/16*1rem 32/16*1rem
	.form-title
		text-align: center
		font-size: $fsMainTitle
		font-weight: 400
		font-family: $titleFont
		margin: 0
	.form
		+wrapper(1266px)
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		justify-items: center
		margin-top: 13/16*1rem
		label
			font-size: $fsSmallContent
			font-weight: 700
			margin-bottom: 40px
			max-width: 237px
			width: 100%
		input
			display: block
			background: none
			border-radius: 8px
			border: 2px solid #fff
			max-width: 237px - 20px //width - padding - border (долго тупил)
			width: 100%
			padding: 4/14*1em 8/14*1em
			color: #ffffff
			font-size: $fsSmallContent
			font-family: $contentFont
			font-weight: 700
			margin-top: 9px
			&::placeholder
				opacity: 1
			&:focus
				outline: none
		label[for="submit"]
			grid-column: 2/3
		input[type="submit"]
			max-width: 237px
			width: 100%
			cursor: pointer
			text-transform: uppercase

.menu-cards
	+opacityBackground
	padding: 44/16*1rem 20/16*1rem 122/16*1rem
	.section-title
		text-align: center
	.cards-wrapper
		+wrapper(1085px)
		+flex-justify
		margin-top: 53/16*1rem
	.card
		max-width: 339px
		background: #fff
		color: #4f4e4e
		img	
			width: 100%
			height: auto
		&-text
			padding: 19px 21px 26px
		&-date
			font-size: 14/16*1rem
			margin-bottom: 24/14*1em
			letter-spacing: 1.05px
			font-weight: 700
			color: #555555
		&-title
			font-size: $fsSmallContent
			font-weight: 700			
		&-content
			font-size: $fsSmallContent
	.read-more
		display: block
		text-decoration: none
		color: #555555
		font-size: 14/16*1rem
		margin-top: 25/14*1em
		font-weight: 700
		width: 81px
		text-transform: uppercase
		border-bottom: 7px solid #ff992b

.blockquote
	text-align: center
	padding: 30/16*1rem 20/16*1rem 41/16*1rem
	background: $colorContent
	color: #ffffff
	.quote
		font-size: 83/16*1rem
		font-weight: 700
		display: block
		height: 50px
		&-text
			font-size: $fsContent
			line-height: 33.33/19*1em
			+wrapper(715px)
			margin-top: 1rem
			margin-bottom: 23/16*1rem
		&-author
			font-size: $fsContent
			font-weight: 700
	.social
		+flex-justify
		+wrapper(330px)
		margin-top: 43px
		img:hover
			transform: scale(1.2)

footer
	max-width: 1400px
	margin: 0 auto
	padding: 32/16*1rem 20/16*1rem 81/16*1rem
	+opacityBackground
	color: $colorFooter
	nav
		display: flex
	.wrapper
		+wrapper(1079px)
		+flex-justify
		align-items: flex-start
	.cell-large
		max-width: 320px
		margin-right: auto
	.cell:not(:last-child)
		margin-right: 118px
	.footer
		&-nav
			+resetList
		&-title
			font-size: 25/16*1rem
			font-weight: 700
			text-transform: uppercase
			margin-bottom: 50/16*1rem
			&_s
				font-size: 21/16*1rem
		&-content
			font-size: $fsContent
			line-height: 29.17/19*1em
		&-nav a
			font-size: 21/16*1rem
			text-decoration: none
			color: inherit
			font-weight: 700
			line-height: 33/21*1em
			&:hover
				text-decoration: underline

@import setup/media